.App {
  text-align: center;
}

.nav-bar {
  display: inline-flex;
  align-content: space-between;
  margin: auto;
}

.drop-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.drop-column:hover {
  color: rgb(253, 3, 3);
}

/* .game-board {
  border-style: solid;
  border-bottom: none;
} */

.board-rows {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.board-space {
  border-style: solid;
}

/* .game-info {
  border-style: solid;
  border-top: none;
} */

.info-list {
  border-style: solid;
}
