.App {
  text-align: center;
}

.Nav-bar {
  display: inline-flex;
  align-content: space-between;
  margin: auto;
}

/* .game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

.Drop-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.Drop-column:hover {
  color: rgb(253, 3, 3);
}

.Board-rows {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
